* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: helvetica, sans-serif;
	background: rgb(22,113,37);
background: linear-gradient(0deg, rgba(22,113,37,0.3981967787114846) 0%, rgba(20,69,3,0.5438550420168067) 100%);
}

/*
***Layout da pagina ***
*/
#cabecalho {
	background: rgb(60,221,87);
background: linear-gradient(0deg, rgba(60,221,87,0.3981967787114846) 0%, rgba(48,140,18,0.5438550420168067) 100%);
	text-align: center;
	padding: 16px;
}

#logo, #area-menu {
	padding: 10px;
}

#area-principal-informacoes {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#postagens {
width: 620px;
float: left;
}

#menu-lateral {
width: 250px;
float: right;
}

.postagem {
background: white;
padding: 20px;
margin-bottom: 10px;
}

.conteudo-lateral {
	background: white;
	padding: 20px;
margin-bottom: 10px;
}

#rodape {
	background: -webkit-linear-gradient(#e4236b, #1f9684, #66d9d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  clear: both;
  padding: 15px;
  text-align: center;
}

/*
***formatacao de menu ***
*/
 a:link, a:visited {
	color: #e4236b;
	text-decoration: none;
}

 a:hover {
	color: red;
	background: #97d1a1;
}


#cabecalho a:link, #cabecalho a:visited {
	color: #ffffff;
	text-decoration: none;
	padding: 10px 12px;
}
#cabecalho a:hover {
	color: red;
	background: #97d1a1;
	text-decoration: none;
}

/*
***formatacao da pagina ***
*/
h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
	background: rgb(60,221,87);
background: linear-gradient(0deg, rgba(60,221,87,0.3981967787114846) 0%, rgba(48,140,18,0.5438550420168067) 100%);
color: white;
}

h4 {
	background: rgb(60,221,87);
background: linear-gradient(0deg, rgba(60,221,87,0.3981967787114846) 0%, rgba(48,140,18,0.5438550420168067) 100%);
color: white;
padding: 5px;
}


.branco {
	background: -webkit-radial-gradient(#33c2e3, #51e6e0, #e4eff2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.texto-lateral {
	font-size: 0.8em;
	padding: 5px;
}